/* assets/css/blog.css
    Ensure text inside <article> elements is left-aligned */
article {
    text-align: left;
}


/* caption {
    background: #4f4f4f;
    color: #fff;
}

#bottom {
    caption-side: bottom;
    padding-top: 0.5rem;

    font-size: 0.85rem;
    color: #666;
    text-align: left;
} */